Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/Architecture
Content/StarterContent/Audio
Content/StarterContent/Blueprints
Content/StarterContent/HDRI
Content/StarterContent/Materials
Content/StarterContent/Particles
Content/StarterContent/Props
Content/StarterContent/Shapes
Content/StarterContent/Textures
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
